
body {
    background-image: url(/imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100;
}

.mosquito1 {
    width: 3rem;
    height: 3rem;
    
}

.mosquito2 {
    width: 5rem;
    height: 5rem;
    
}

.mosquito3 {
    width: 7rem;
    height: 7rem;
    
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 11.8rem;
    padding: 0.7rem;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
   float: left; 
}

.cronometro {
   float: left;
   font-size: 1.3rem;
   font-weight: bold;
}